<% content_for :title, "Showing server" %>

<%= turbo_frame_tag :dashboard do %>
  <div class="flex">
    <%= render "sidebar" %>
    <div class="w-full h-screen pt-8">
      <div class="w-full flex flex-col items-center">
        <h1 class="text-2xl text-gray-100 text-center"> <%= @server.name %> </h1>
        <%= image_tag(@server.image, class: "w-24 h-24 rounded-full object-cover") if @server.image.attached? %>
      </div>
      <% if @server.owner == current_user %>
        <div class="w-full flex gap-4 justify-end px-4">
          <%= link_to "Edit server", edit_server_path(@server), class: "text-gray-100 px-3 py-2 rounded-lg bg-blue-500" %>
          <%= link_to "Create invite link", server_invite_links_path(@server), class: "text-gray-100 px-3 py-2 rounded-lg bg-indigo-500",
            data: { turbo_method: :post } %>
        </div>
      <% end %>
    </div>
  </div>
<% end %>